@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source "../../../../app/Filament/**/*.php";
@source "../../../../app/Livewire/**/*.php";
@source "../../../../resources/views/filament/**/*.blade.php";
/* TAMBAHKAN BARIS INI: Folder tempat admin-ticket-chat.blade.php berada */
@source "../../../../resources/views/livewire/**/*.blade.php"; 
@source "../../../../vendor/filament/**/*.blade.php";
